import { styled } from 'styles/config'

type {{pascalCase name}}Props = {
  children: React.ReactNode
}

const H1 = styled('h1', {
  color: '$purple500'
})

const {{pascalCase name}} = ({ children }: {{pascalCase name}}Props) => <H1>{children}</H1>

export default {{pascalCase name}}
